body{
    background-color: #efefef;
}
.content{
    background-color: white;
    margin:30px;
}
.btn-publish{
    float: right;
    margin-bottom: 15px;
}
.img-cache{
    width: 38px;
    height: 38px;
}

.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.question{
    cursor: pointer;
}
.profile .tab{
    margin-top: 15px;
}