<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.me.community.dao.QuestionMapper">
    <insert id="save" parameterType="Question">
        insert into community.question(title, description, created, modified, creator)
        values (#{title},#{description},#{created},#{modified},#{creator})
        <selectKey keyColumn="id" resultType="int" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>
    <select id="totalCount" resultType="java.lang.Integer">
        select count(1) from community.question
        <where>
            <if test="creator!=null">
                creator = #{creator}
            </if>
        </where>;
    </select>
    <select id="findQuestions" resultMap="questionDtoMap">
        select * from community.question
        <where>
            <if test="creator!=null">
                creator = #{creator}
            </if>
        </where>
        limit #{offset},#{pageSize};
    </select>
    <resultMap id="questionDtoMap" type="com.me.community.dto.QuestionDto">
        <association property="avatarUrl" column="creator" javaType="string" select="selectAvatarUrl"/>
    </resultMap>
    <select id="selectAvatarUrl" resultType="string">
        select avatar_url from user where id = #{creator};
    </select>
</mapper>