<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <script th:src="@{/js/jquery.js}"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.css}">
    <script th:src="@{/js/bootstrap.js}"></script>
</head>
<body style="background-color: white">
<div class="container">
    <div class="row" style="margin-top: 50px">
        <div class="jumbotron">
            <h1>404 NOT FOUND</h1>
            <p id="error-msg">您访问的页面不存在，或者已被删除</p>
            <p><a class="btn btn-primary btn-lg" href="/index" role="button">返回首页</a></p>
        </div>
    </div>
</div>
</body>
</html>