<div class="row">
    <div class="col-lg-9 col-md-12 col-sm-12">
        <h2><span class="glyphicon glyphicon-list" aria-hidden="true"></span>发现</h2>
        <hr>
        <div class="questions">

        </div>
        <nav>
            <ul class="pagination " id="question-pagination">


            </ul>
        </nav>

    </div>
    <div class="col-lg-3 col-md-12 col-sm-12">
        <h3>热门话题</h3>
        <ul>
            <li>问题标题：请用简单的语言描述你的问题，不超过25字</li>
            <li>问题补充：详细补充您的问题内容。并确保问题描述直观清晰，并提供一些相关的资料</li>
            <li>选择标签：输入一个或多个合适的标签，用逗号隔开，每个标签不超过十个字</li>
            <li>关于积分：发起一个问题会消耗您20个积分，每多回复一个你将获得5个积分的奖励，为了您的利益<br>
                在发起问题的时候希望能够更好的回答问题。
            </li>
        </ul>
    </div>
</div>
<script th:src="@{/js/me/showQuestion.js}"></script>
<script>
    $(function () {
        showQuestion(1);
    })
</script>